@{
    ViewData["Title"] = "Home Page";
}
@model List<Todo>

<h1 class="display-4">Your todos</h1>

<div class="mt-3">
    @foreach(var todo in Model)
    {
        <p>
            <strong>@todo.Title</strong><br />

            @todo.Description<br />

            <a
                asp-controller="Todos"
                asp-action="Show"
                asp-route-id="@todo.Id">
                Show
            </a>
        </p>
    }
</div>